.input-container {
  margin-right: 80px; /* Espaço à direita do campo de input */
  max-width: 300px; /* Largura máxima da div */
}

.custom-list {
  position: absolute;
  max-width: 100%;
  list-style: none;
  padding: 0;
}

.custom-list-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%; /* Largura máxima para o texto dentro dos itens da lista */
}

/* Adicione outros estilos conforme necessário */
