$primary:       #f8c2d6!default;
$secondary:     #D6E5FA !default;
$light:         #f7eaf2 !default;
$dark:          #D14D72 !default;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "light":      $light,
  "dark":       $dark,
) !default;


@import "../node_modules/bootstrap/scss/bootstrap";